<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="tests/bootstrap.php"
    backupGlobals="false"
    backupStaticAttributes="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stopOnError="false"
    stopOnFailure="false"
    syntaxCheck="true"
    verbose="true"
>
    <php>
        <ini name="error_reporting" value="E_ALL"/>
    </php>
    <logging>
        <log type="coverage-text" target="php://stdout"/>
        <log type="coverage-html" target="./coverage/phpunit/coverage"/>
        <log type="coverage-clover" target="./coverage/phpunit/logs/clover.xml"/>
    </logging>
    <testsuites>
        <testsuite name="Sentry Integration Test Suite">
            <directory suffix=".php">./tests/</directory>
            <exclude>./tests/fixtures/</exclude>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true" processUncoveredFilesFromWhitelist="true">
            <file>./sentry-integration.php</file>
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
</phpunit>
